<!DOCTYPE html>
<html>
<head>
	<title>Chooo's Blog</title>
</head>
<body>
	<div>
		<h1><a href="/">Blogs</a></h1>
	</div>

	{% for post in posts %}
		<div>
			<h3><a href=""> {{post.title}} </a></h3>
			<p>Published Time: {{post.published_date}} </p>
			<p> {{post.text | linebreaksbr}} </p>
		</div>
	{% endfor %}

<!-- 	<div>
		<h3><a href="">Blog - Jan. 3rd, 2018</a></h3>
		<p>Published Time: Jan. 3rd, 2018, 12:25:32</p>
		<p>Deploying Django in the first few days of the year!!</p>
	</div>

	<div>
		<h3><a href="">Blog - Jan. 1st, 2018</a></h3>
		<p>Published Time: Jan. 1st, 2018, 15:22:03</p>
		<p>Start learning Django, or said reviewing?</p>
	</div>


	{% for post in posts %}
		{% for post in posts %} 
			{{ post }}
		{% endfor %}
	{% endfor %}
 -->
	
</body>
</html>